.card {
    width: 300px;
    height: 23rem;
    position: relative;
    margin: 1.2rem;
}

.card-price {
    position: absolute;
    background: black;
    color: white;
    padding: 0.5rem;
    right: 0;
    top: 15%;
}

footer { 
    height: 2rem;
    border: 1px solid #222;
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}